<footer>
    <div class="container">
        <div class="row">
            <div class="col-3">
                (c) 2019 Markus Gehrig
            </div>
            <div class="col-3">
                Impressum / Datenschutz
            </div>
        </div>
    </div>
</footer>