<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img class="logo" width="64px" height="64px" src="template/images/logo.png"/>
                MyDairy
            </div>
        </div>
    </div>
</header>