<!DOCTYPE html>
<html>
    <head>
        {% include '/partials/head.twig' %}
    </head>
    <body>
        {% include '/partials/header.twig' %}
        <main>
            <section class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Dashboard</h1>
                        <p>The Dashboard shows all needed functions to use your Dairy.</p>
                    </div>
                </div>  
            </section>
            <section class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Last Entrances</h1>
                        
                        <div class="entrance">
                            <h2>My Dairy</h2>
                            <div class="date">01.01.2019</div>
                            <div class="text">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu f
                            </div>
                            <div class="card image">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card image">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card image">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>  
            </section>
        </main>
        {% include '/partials/footer.twig' %}
    </body>
</html>